@font-face {
  font-family: Boogaloo;
  src: url(/fontes/Boogaloo-Regular.ttf);
}

@font-face {
  font-family: "Mouse Memoirs";
  src: url(/fontes/MouseMemoirs-Regular.ttf);
}

h1 {
  font-family: "Mouse Memoirs", serif;
  font-size: 3.5em;
  text-align: center;
  color: #f3e5ab;
}

body {
  background-color: #35e2c3;
}

.game {
  display: flex;
  width: 320px;
  height: 420px;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
}

.torre {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 120px;
}

.cone {
  width: 80px;
}

.bola {
  margin-bottom: -24px;
}

.selected img:last-child {
  margin-bottom: 5px;
}
