body {
  background-color: #35e2c3;
}

.game {
  display: flex;
  width: 320px;
  height: 480px;
  justify-content: space-between;
  align-items: flex-end;
  margin: auto;
}

.torre {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 120px;
  height: 400px;
}

.cone {
  width: 80px;
}

.bola {
  margin-bottom: -24px;
}

.selected img:last-child {
  margin-bottom: 5px;
}
